<div class="text-center mb-5">

    <div class="mb-3">
        <%= image_tag("titlelogo.svg", width: "80%") %>
    </div>

    <p class="small-text mb-2">↓<%= ['5秒で登録できたらいいなぁ', '5秒で登録できるかどうかはあなたと回線次第です', '5秒で登録できるかもしれないし、できないかもしれない', '5秒で登録できなくても怒らないでください'].sample %>↓</p>

    <%= link_to "Twitterでログイン/新規登録", "/users/new", class: "btn-lg btn-primary" %>

</div>