<% provide(:title, '使い方') %>

<h1>使い方</h1>

<%= image_tag 'titlelogo.svg', class:'w-100 mt-3 mb-3' %>

<div class="tray-light-withedge">
    <h3 class="mt-3 mb-4">進捗ノートとは？</h3>
    <p>あなたの作っているもの、頑張っていること...それを手軽に記録するのが『進捗ノート』です。それは例えば同人誌であったり、ゲーム制作であったり、作曲であったり...あるいは毎日の朝のジョギングや、読書記録でもいいのです。</p>
    <p>記録した進捗はみんなに公開されます。みんなから『進捗どうですか』をもらったり、アドバイスを受けたりできます。</p>
    <h3 class="mt-5 mb-4">ノートを作る</h3>
    <p><%= logged_in? ? link_to('マイページ', user_path(current_user.screen_name)) : 'マイページ' %>から「ノート新規作成」をクリックすることで新しいノートが作成できます。</p>
    <p>ノートには「プロジェクト」と「リクエストボックス」の2種類があります。</p>
    <h3 class="mt-5 mb-4">プロジェクトとリクエストボックス</h3>
    <p>プロジェクトとリクエストボックスでは、機能面・ページレイアウトが若干違います。</p>
    <p class="mb-3">「プロジェクト」はゲーム制作や同人誌など、自分からどんどんと進めていくようなものに適しています。</p>
    <p class="mb-3">「リクエストボックス」はイラストのリクエストやアイデアの募集、質問の受付などといったコメント重視のものに適しています。</p>
    <p>コメント・『進捗どうですか』の受付はどちらでも可能です。</p>
    <h3 class="mt-5 mb-4">おまかせ表示</h3>
    <p>「<%= link_to 'おまかせ表示', omakase_path %>」の項目から、ランダムにノートを選んで見に行くことができます。</p>
    <p>逆に、あなたを全く知らない誰かがあなたのノートに遊びに来るかもしれません。</p>
</div>