<h1>ベータ版について</h1>

<div class="tray-light-withedge">

    <div class="alert alert-warning">
        本サービスは現在<strong>ベータ版</strong>です。
        そのため、予期せず以下のようなことが発生する可能性があります。ご了承ください。
        <ul>
            <li>サーバーの一時的な停止</li>
            <li>レスポンス速度の大幅な低下</li>
            <li>レイアウトの大幅な変更</li>
            <li>一部ページのレイアウト崩れ、読み込みエラー</li>
            <li>本サービスで入力した一部データ・設定の消失</li>
        </ul>
    </div>

    <div class="text-center mb-3">
        <%= image_tag 'beta.png', width: '50%' %>
    </div>

    <h3>開発ご協力のお願い</h3>
    進捗ノートは現在鋭意開発中です。<br>
    皆様からいただいたご意見をもとに、よりよいサービスにしていきたいと考えております。
    <ul>
        <li>バグ報告</li>
        <li>レイアウト崩れ報告</li>
        <li>使いやすくなる改善案のご提案</li>
        <li>欲しいと思った新機能のご提案</li>
    </ul>
    など、ぜひいただけましたら嬉しいです。<br>
    ご意見は<%= link_to '進捗ノートのページ', note_path(1) %>、または<%= link_to '公式Twitter', 'https://twitter.com/shinchokuNote' %>へお寄せください。

    <hr>

    <h3>リリースノート(Release Notes)</h3>

    <h4>ver 0.1.0</h4>

    2018/5/4 (正式には4/29(進捗の日))<br>
    ベータ版最初のリリース<br>

    <h4>ver 0.1.1</h4>

    2018/5/5<br>

    <ul>
        <li>画像投稿フォームにマウスを載せる際にカーソルが変わるように</li>
        <li>「おまかせ表示」をした際に一瞬他のページが見える現象の修正(キャッシュの無効化)</li>
        <li>コメントや投稿の改行を正しく表示するように</li>
        <li>コメントや投稿で長い英単語を打った場合にはみ出ない(改行される)ように</li>
        <li>通知ページの表示からその通知元のノートに飛べるようにリンクを設置</li>
        <li>リリースノートを追加</li>
    </ul>

    <h4>ver 0.1.2</h4>

    2018/5/8<br>

    <ul>
        <li>新規進捗投稿時の「URLから紐付け」が正常にできない問題の修正</li>
        <li>文字数の多い新規投稿を行おうとするとエラーになる問題の修正(文字数の制限)</li>
        <li>新規投稿やコメントへの返信時に文字数を表示</li>
        <li>細かいバグの修正</li>
    </ul>

    <h4>ver 0.1.3</h4>

    2018/5/13<br>

    <ul>
        <li>ノートをウォッチリストに登録しているユーザ(ウォッチャー)の一覧を表示するように</li>
        <li>ノートのシェアをするときに開くツイートウィンドウが新規タブで開くように</li>
        <li>空白のままコメントや投稿ができてしまう問題の修正</li>
        <li>通知の確認済み処理を変更(自分でボタンを押すまでは消えない)</li>
        <li>細かいバグの修正</li>
    </ul>

    <h4>ver 0.2.0</h4>

    2018/5/23<br>

    <ul>
        <li><strong>アイコンやアカウントネームを更新するボタン</strong>を設置しました。マイページ右上の「ユーザ情報反映」をクリックで最新の状態に更新します。</li>
        <li><strong>長文ツイートに画像を添付したときに表示されない問題を修正</strong>しました。</li>
        <li>トップページに<strong>「ユーザーを見つける」</strong>を設置し、Twitter上でフォローしているユーザーを進捗ノート上で見つけやすくなりました。</li>
        <li><strong>デザインを一部変更</strong>し、色分けにより<strong class="text-primary">プロジェクト</strong>と<strong class="text-secondary">リクエストボックス</strong>がわかりやすくなるようにしました。</li>
        <li>雑多な<strong>バグの修正</strong>を行いました。</li>
    </ul>

    <h4>ver 0.3.0</h4>

    2018/5/31<br>

    <ul>
        <li><strong>デザインの大幅な変更。</strong></li>
        <li>「進捗を記すノート」というコンセプトを省みて、全体的に明るいテーマにしました。それぞれのノートの色付けも、オレンジや水色のパステルカラーを使用。よりシンプルになりました。</li>
        <li>各ノートのページは、<strong>「月」を重視したデザイン</strong>にしました。1ヶ月でどれくらいのことをしたのか分かりやすくなり、月別リンクもご用意したために過去の進捗へアクセスしやすくなりました。</li>
        <li>雑多なバグの修正。</li>
    </ul>

    <h4>ver 0.3.1</h4>

    2018/6/1<br>

    <ul>
        <li>iOSにおいてユーザーメニューが表示されなかった問題の修正</li>
    </ul>

</div>