<div class="text-center col">

  <div class="mb-3">
    <%= image_tag("logo_big.png", width: "768") %>
  </div>

  <%= link_to "Twitterでログイン", "/auth/twitter", class: "btn-lg btn-primary" %>

  <% @users.each do |u| %>
    <p class="mt-3"><%= u.twitter_id %> logged in.</p>
  <% end %>

</div>
