<div class="text-center col">

  <div class="mb-3">
    <%= image_tag("logo_big.png", width: "768") %>
  </div>

  <div class="mb-3">
    <%= link_to "Twitterでログイン", "/users/new", class: "btn-lg btn-primary" %>
  </div>

</div>
