<div class="fixed-bottom foot-toolbar">
  <ul>
    <li>
      <%= link_to fa_icon('envelope-o', text: note.comments.size), '#' %>
    </li>
    <li><%= link_to note_shinchoku_dodeskas_path(note), method: :post, remote: true do %>
      <span class="icon-shinchokunote"></span> <%= note.shinchoku_dodeskas.size %>
    <% end %></li>
  </ul>
</div>
