<div class="text-center note-index note-index-<%= note_color(note) %>">
    <p class="small-text bold-text mb-0">月メニュー</p>
    <% note.posts.group_by { |p| p.created_at.year }.reverse_each do |y, y_posts| %>
        <% y_posts.group_by { |p| p.created_at.month }.reverse_each do |m, m_posts| %>
            <%= link_to "#note-timeline-#{y}-#{m}", class:'note-index-monthly' do %>
                <div class="note-index-year"><%= y %></div>
                <div class="note-index-month"><%= m %></div>
            <% end %>
        <% end %>
    <% end %>
</div>
