<div class="note-info">
  <% if defined?(with_user_info) %>
    <%= render 'users/user_thumb', user: note.user %>
    <span class="note-info-user-name mr-3"><%= link_to note.user.name, user_path(note.user.screen_name) %></span>
    >
  <% end %>
  <span class="note-info-name mr-3"><%= link_to note.name, note_path(note) %></span>
</div>