<% provide :title, "#{@note.name}のウォッチャー" %>
<% provide :ogp_twitter_account, @note.user.screen_name %>
<% provide :ogp_desc, @note.desc %>

<%= link_to "#{@note.name}に戻る", note_path(@note) %>

<div class="tray-light-withedge">
    <h3><%= @note.name %>のウォッチャー</h3>
    <%= render @note.watching_users.reverse %>
</div>