<div class="media tweet mt-0 mb-3">
  <%= image_tag(get_fullsize_thumb_uri(tweet_post.data[:user][:profile_image_url]), size: "48x48" , alt: tweet_post.note.user.name, class: "mr-3") %>

  <div class="media-body">
    <p class="mb-1"><%= tweet_post.data[:user][:name]  %></p>
    <p class="mb-1"><%= tweet_post.data[:text] %></p>
  </div>
</div>
