<div class="tray-light-withedge">
  <h3><%= fa_icon 'star', text: 'ウォッチリストの進捗' %></h3>
  <% if @watching_posts.empty? %>
    <p class="text-center text-light">
      まだウォッチリストに登録されたノートがありません。<br>
      気に入ったノートを登録してみましょう！
    </p>
  <% end %>
  <%= render @watching_posts, with_note_info: true %>
</div>
