html{
  font-size: 100%;
}

body{
  background-color: #f8f9fa;
}

header{
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid #dee2e6;
}
header .headermenu{
  max-width: 750px;
  margin: auto;
  padding: 5px;
}

h1{
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  color: #adb5bd;
  border-bottom: medium dotted #adb5bd;
}

.container {
  max-width: 576px;
}

.maintray{
  background-color: #FFF;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: medium solid #adb5bd;
}
