<div class="post-box comment mt-0 mb-3">
  <div class="comment-text"><%= comment.text  %></div>
  <div class="comment-footer">
    <span class="comment-timestamp"><%= smart_time_to_str(comment.created_at) %></span>
    <% unless comment.from_user.nil? || comment.secret_anonimity? %>
      <span class="comment-from">by <%= comment.from_user.name %></span>
    <% end %>
  </div>
</div>
