<div class="comment-form control-panel">
  <h3>コメント</h3>

  <%= form_for [note.becomes(Note), note.comments.build] do |f| %>
    <div class="input-group mb-2">
      <%= f.text_area :text, class: 'form-control' %>
    </div>
    <div class="input-group">
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
