<div class="media comment mt-0 mb-3">
  <% if comment.from_user.nil? || comment.secret_anonimity? %>
    <p class="mb-1">名無しさん</p>
  <% else %>
    <%= image_tag(comment.from_user.thumb_url, size: "48x48" , alt: comment.from_user.name, class: "mr-3") %>
    <p class="mb-1"><%= comment.from_user.name %></p>
  <% end %>
  <p class="mb-1"><%= comment.text  %></p>
</div>
<hr>
