= form_for [note.becomes(Note), Comment.new] do |f|
    .coverdbox
        / (ログイン時)コメントを記名式にするか
        - if logged_in?
            .input-group
                = f.check_box :anonimity, class: 'mt-1'
                = f.label :anonimity, '投稿者を公開する', class: 'mt-2'
        
        / テキストエリア
        .input-group
            = f.text_area :text,
                          id: 'commenttext_form',
                          class: 'form-control',
                          value: draft
        
        / 文字数カウンタ
        #commenttext_count class="text-#{note_color note} mt-0" 0 / 1000
        - unless logged_in?
            p.text-muted.small-text ※投稿者を公開したい場合はログインしてください。
        
        / Google reCAPTCHA
        - if rejudge
            = f.hidden_field :recaptcha_v2, value: true
            .my-2
                = recaptcha_tags site_key: Rails.application.credentials.recaptcha_v2[:key]
        - else
            = recaptcha_v3 action: 'social'

        / 投稿ボタン
        .input-group
            button#comment_submit.btn(
                type="button"
                class="#{note.type == 'RequestBox' ? 'btn-secondary' : 'btn-primary'}"
                data-toggle="modal"
                data-target="#commentConfirm"
                disabled=true
            ) コメントする
        
        - unless user_can_comment?(note, current_user)
            / コメント不可の表示
            .coversbox
                p
                    | 以下の設定により、
                    br
                    | このページにはコメントができません。
                    br
                p 「コメント権限: #{note.comment_receive_stance_i18n}」

    #commentConfirm.modal.fade(
        tabindex="-1"
        role="dialog"
        aria-labelledby="commentConfirm"
        aria-hidden="true"
    )
        .modal-dialog role="document"
            .modal-content
                .modal-header
                    h5#commentConfirmLabel.modal-title コメントを投稿します
                    button.close(
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                    )
                        span aria-hidden="true" &times;
                .modal-body コメントを投稿します。よろしいですか？
                .modal-footer
                    button.btn.btn-info(
                        type="button"
                        data-dismiss="modal"
                    ) やり直す
                    = f.submit 'コメントする', class: 'btn btn-primary'

- content_for :javascript do
    = javascript_include_tag 'comment_text_box', 'data-turbolinks-track': 'reload'

