html{
  font-size: 100%;
}

body{
  background-color: #F4E2D3;
}

header {
  max-width: 750px;
  margin: auto;
}

h1{
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  color: #C07C48;
  border-bottom: medium dotted #C07C48;
}

.container {
  max-width: 576px;
}

.maintray{
  background-color: #FFF;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
