<% content_for :foot_toolbar do %>
<div class="fixed-bottom foot-toolbar">
  <ul>
    <li>
      <%= link_to fa_icon('home'), root_path %>
    </li>
    <li>
      <%= link_to fa_icon('bell'), notifications_path %>
      <span class="badge badge-danger"><%= unread_watching_post_num %></span>
    </li>
  </ul>
</div>
<% end %>
