<% content_for :foot_toolbar do %>
<div class="fixed-bottom foot-toolbar">
  <ul>
    <li>
      <%= link_to fa_icon('home'), root_path %>
    </li>
    <li>
      <%= link_to fa_icon('bell'), '#' %>
    </li>
  </ul>
</div>
<% end %>
