<div class="tray-light-withedge-lightgray">
    <h3>ユーザーを見つける</h3>
    <% @twitter_friends.take(20).each do |u| %>
        <%= render 'users/user_thumb', user: u %>
    <% end %>
    <%= link_to 'すべて見る', recommended_users_path %>
</div>