<div class="tray-light-withedge">
    <h3>このユーザのノート一覧を共有</h3>
    <input id="share_url" type="text" value="<%= user_url(user.screen_name) %>" readonly="readonly" class="form-control mb-2" />
    <%= link_to fa_icon('twitter', text: 'ツイート'),twitter_intent_link("#{user.name}のノート一覧", user_url(user)), class: "btn btn-info mb-1", role:'button', target: :_new %>
    <button onclick="copyShareUrlToClipboard()" id="share_button" class="btn btn-info mb-1">
        <%= fa_icon 'share-alt', text: 'リンクをコピー', id: 'share_icon' %>
    </button>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'copy_to_clipboard'%>
<% end %>