= provide :title, "#{@user.name}の設定"
= provide :ogp_twitter_account, @user.screen_name
= provide :ogp_desc, @user.desc

h1 #{@user.name}の設定

= form_for @user, url: {action: :update} do |f|
    h2 プロフィール

    = f.label :desc, '説明文'
    .input-group.mb-3
        = f.text_area :desc, class: 'form-control'

    h2 通知
    .form-check.mb-3
        = f.check_box :comment_webpush_enabled
        = f.label :comment_webpush_enabled, 'コメントが届いた時'

    .form-check.mb-3
        = f.check_box :shinchoku_dodeska_webpush_enabled
        = f.label :shinchoku_dodeska_webpush_enabled, '「進捗どうですか」が届いた時'
    
    = f.submit '保存する', class: 'btn btn-primary mb-3'