<div class="text-center col">
  <%= render 'users/user_header', user: @user %>
  <h1>Showページ</h1>

  <%= render partial: 'users/notes', locals: {notes: @user.notes} %>

  <% @tweets.each do |t| %>
  <p><%= t.full_text %></p>
  <% end %>
</div>
