- provide :body_bg, 'body-bg-primary'

.tray-light-withedge-primary
    h1
        = project.name
        = render 'projects/stagebadge', project: project
        = render 'notes/viewstancebadge', note: project
        = render 'notes/ratingbadge', note: project
    
    - if current_users_note? project
        = link_to '編集する',
            edit_note_path(project),
            class: 'btn btn-info btn-sm'
    
    p.mt-2.mb-0.pre-text
        = replace_url_to_link(h(project.desc)).html_safe
    
    = render 'notes/howlongsincemade', note: project

ul#pills_tab.nav.nav-pills.nav-pills-primary.nav-justified.mb-3 (
    role="tablist"
)
    li.nav-item
        a#posts_tab.nav-link (
            data-toggle="pill"
            href="#posts"
            role="tab"
            aria-controls="posts"
            aria-selected="#{@show_comments ? false : true}"
            class = "#{'active' unless @show_comments}"
        ) 進捗
    li.nav-item
        a#commentslist_tab.nav-link (
            data-toggle="pill"
            href="#commentslist"
            role="tab"
            aria-controls="commentslist"
            aria-selected="#{@show_comments ? true : false}"
            class = "#{'active' if @show_comments}"
        ) コメント

.tab-content
    #posts.tab-pane.fade(
        role="tabpanel"
        aria-labelledby="posts_tab"
        class = "#{'show active' unless @show_comments}"
    )
        = render 'notes/note_monthly_index', note: project
        = render 'notes/post_form', note: project \
            if current_users_note?(project)
        
        = render 'notes/posts', note: project
    #commentslist.tab-pane.fade(
        role="tabpanel"
        aria-labelledby="commentslist_tab"
        class = "#{'show active' if @show_comments}"
    )
        - if @current_user_can_comment
            #comment-form.comment-form.control-panel
                h3 コメント
                = render 'comments/comment_form', note: project, draft: @draft, rejudge: @rejudge
        = render 'notes/comments', { \
            note: project,
            comments: @comments \
        } if user_can_see_comments?(project, current_user)

= render 'notes/shareform', note: project
= render 'notes/foot_toolbar', note: project