<div class="media-box media-box-secondary">
  <div class="media-content">
  <div class="bgstr"><%= fa_icon 'envelope' %></div>
    <h5>
      <%= link_to request_box.name, note_path(request_box) %>
    </h5>
    <%= request_box.desc %>

    <%= render 'notes/note_footer', { note: request_box } %>
  </div>
</div>
