<div class="post-form control-panel">
  <h3>新しく進捗を報告する</h3>
  <nav>
    <div class="nav nav-pills post-form-tab mb-2" role="tablist">
      <a class="nav-item nav-link active" id="makenew-tab" data-toggle="tab" href="#makenew" role="tab" aria-controls="makenew" aria-selected="true">
        新規作成
      </a>
      <a class="nav-item nav-link" id="selectfromurl-tab" data-toggle="tab" href="#selectfromurl" role="tab" aria-controls="selectfromurl" aria-selected="false">
        URLから紐付け
      </a>
    </div>
  </nav>
  <div class="tab-content post-form-content">
    <div class="tab-pane fade show active" id="makenew" role="tabpanel" aria-labelledby="makenew-tab">
      <%= render partial: 'tweet_posts/tweet_post_new_form', locals: {note: note} %>
    </div>
    <div class="tab-pane fade" id="selectfromurl" role="tabpanel" aria-labelledby="selectfromurl-tab">
      <%= render partial: 'tweet_posts/tweet_post_url_form', locals: {note: note} %>
    </div>
  </div>
</div>
