#comments_container{
    ul li a{
        color: white;
    }
}
  
a.comment-link{
    position: absolute;
    right: 0;
    font-weight: bold;
    letter-spacing: 0.1em;
}

// New Comment Form
#commenttext_form{
    height: 100px;
}
#commenttext_count{
    float: right;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}