.dropmenu {
  z-index: 100;
  hr{
    margin: 5px 0;
  }
}

.dropmenu:hover {
  .dropmenu-content {
    border: 1px solid $gray-400;
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.dropmenu-content {
  border-radius: 5px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;

  a.dropdown-item{
    color: $gray-700;
    font-weight: bold;
  }

  a.dropdown-item:hover{
    background-color: lighten($primary, 20);
    color: darken($primary, 20);
  }
}
