@mixin media-box-coloring($color){
    border-color: $color;
    background-color: white;
  
    &.media-box-baloon::after{
        border-right-color: $color;
    }
  
    >.note-info{
        background-color: $color;
    }
  
    >.media-content{
        >.bgstr{
            color: transparentize($color, 0.8);
        }
  
        >h5 >a{
            color: $color;
        }
    
        >.media-toolbox >.tool.active >a{
            color: darken($color, 10);
        }
    }
}
  
@mixin media-box-coloring-dark($color){
    background-color: lighten($color, 5);
    border-width: 0;
    color: white;
  
    >.note-info{
        background-color: $color;
    }
  
    >.media-content{
        >.bgstr{
            color: transparentize(white, 0.5);
        }
    
        >h5 >a{
            color: white;
        }
    
        >.media-toolbox >.tool.active >a{
            color: darken($color, 10);
        }
    }
}
  
.media-box{
    position: relative;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin: 5px 0;
  
    &.media-box-baloon{
        &::before{
            content: "";
            position: absolute;
            top: 30px;
            left: -24px;
            margin-top: -12px;
            border: 12px solid transparent;
            border-right: 12px solid #FFF;
            z-index: 2;
        }
        
        &::after{
            content: "";
            position: absolute;
            top: 30px;
            left: -29px;
            margin-top: -14px;
            border: 14px solid transparent;
            border-right-width: 14px;
            border-right-style: solid;
            z-index: 1;
        }
    }
  
    @include media-box-coloring($gray-600);
  
    &.media-box-primary{
        @include media-box-coloring($primary);
    }
    &.media-box-secondary{
        @include media-box-coloring($secondary);
    }
    &.media-box-info{
        @include media-box-coloring($info);
    }
    &.media-box-primary-dark{
        @include media-box-coloring-dark(adjust-hue($primary, 10));
    }
    &.media-box-secondary-dark{
        @include media-box-coloring-dark($secondary);
    }
    &.media-box-info-dark{
        @include media-box-coloring-dark($info);
    }
    &.media-box-success-dark{
        @include media-box-coloring-dark($success);
    }
    &.media-box-danger-dark{
        @include media-box-coloring-dark($danger);
    }
  
    >.note-info{
        position: relative;
        border-radius: 10px;
        margin: -2px -2px 0px -2px;
        padding: 10px 10px 5px 10px;
        z-index: 10;
        color: white;
        a{
            color: white;
        }
        a:hover{
            color: white;
        }
        img{
            vertical-align: text-bottom;
        }
        .note-info-user-name{
            font-weight: bold;
        }
    }
  
    >.media-content{
        overflow: hidden;
        padding: 15px;
        font-size: 1rem;
        position: relative;
        z-index: 1;
    
        >.bgstr{
            position: absolute;
            z-index: -1;
            top: -80px;
            right: -80px;
            right: 0;
            white-space: nowrap;
            font-size: 10rem;
            font-weight: bold;
            transform: rotate(-30deg);
        }
    
        >h5{
            font-weight: bold;
            letter-spacing: 0.1em;
            font-size: 1.3rem;
        }
    
        >.media-body{
            >.media-text{
                word-break : break-all;
                white-space: pre-wrap;
            }
            >.media-text-l{
                word-break : break-all;
                white-space: pre-wrap;
                font-size: 1.2rem;
            }
            >.media-text-xl{
                word-break : break-all;
                white-space: pre-wrap;
                font-size: 1.5rem;
            }
    
            >.media-link{
                word-break : break-all;
                white-space: pre-wrap;
            }
        }
    
        >.media-toolbox{
            margin-bottom: 5px;
            >.tool{
                float: left;
                margin-right: 20px;
                text-decoration: none;
                font-size: 0.9rem;
                font-weight: bold;
                color: $gray-500;
                >a{
                    text-decoration: none;
                    font-weight: bold;
                    color: $gray-500;
                }
            }
        }
    
        >.media-footer{
            position: relative;
            border-top: 2px dotted $gray-600;
            font-size: 0.9rem;
            color: $gray-600;
            >.media-footer-right{
                position: absolute;
                right: 0px;
            }
        }
    }

    >.media-box-with-toolbox{
        border-bottom-right-radius: 0px;
    }
}