// User header

.user-header{
    .user-header-name{
        font-weight: bold;
        font-size: 1.5rem;
    }
  
    hr{
        border-top: 5px dotted $gray-400;
    }
}
  
// User header(leftcol)
  
.user-leftcol{
    .user-leftcol-name{
        font-size: 1.5rem;
        font-weight: bold;
    }
  
    hr{
        border-top: 5px dotted $gray-400;
    }
}
  
// User partial
  
.user-partial{
  
    .user-partial-thumb{
        float: left;
    }
    .user-partial-body{
        float: left;
  
        .user-partial-name{
            font-size: 1.2rem;
            font-weight: bold;
            color: black;
        }
    }
}