@import "my_bootstrap";
@import 'bootstrap-datetimepicker';

// Variables and Mixins

@mixin chaptitle($color: darken($primary, 20), $font-size: 1.2rem, $letter-spacing: 0.2em){
  font-weight: bold;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  color: $color;
  border-bottom: medium dotted $color;
}

// Fonts

body {
  font-family: -apple-system, blinkMacSystemFont,
               'Helvetica Neue',
               'Segoe UI',
               'Yu Gothic',
               YuGothic,
               Meiryo,
               sans-serif;
}

/* Windows */
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 100;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 200;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 300;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 400;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Bold');
  font-weight: bold;
}

// Bootstrap settings

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.navbar {
  font-size: large;
  font-weight: bold;

  .navbar-badge{
    margin-left: -5px;
  }
}

@mixin nav-pills-coloring($color){
  .nav-link {
    color: $color;
    &.active {
      color: white;
      background-color: $color;
    }
  }
}

.nav-pills {
  @include nav-pills-coloring($gray-500);

  &.nav-pills-primary{
    @include nav-pills-coloring($primary);
  }

  &.nav-pills-secondary{
    @include nav-pills-coloring($secondary);
  }

  &.nav-pills-info{
    @include nav-pills-coloring($info);
  }

  &.nav-pills-lightgray{
    @include nav-pills-coloring($gray-500);
  }
}

.navbar-toggler,.nav-item, .nav-item > a{
  color: $primary;

  :hover{
    color: darken($primary, 20);
  }
}

.navright {
  @include media-breakpoint-up(md) {
    margin-left: auto;
    float: right;
  }
}

.btn {
  font-weight: bold;
  letter-spacing: 0.1em;
  white-space: normal;
  h1 h2 h3 h4 h5 h6{
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

label {
  color: darken($primary, 20);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.badge{
  letter-spacing: 0px;
  font-size: 60%;
}

.field_with_errors {
  @extend .input-group;
}

.nav-item{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.text-lightgray{
  color: $gray-500 !important;
}
a.text-lightgray:hover{
  color: $gray-600 !important;
}

.bootstrap-datetimepicker-widget{
  margin: auto;
}

// Primary settings

html{
  font-size: 100%;
  @include media-breakpoint-down(xs) {
    font-size: calc(60% + 1.2vw);
  }
}

body{
  background-color: $gray-100;

  &.body-bg-primary{
    background-color: lighten($primary, 40);
  }
  &.body-bg-secondary{
    background-color: lighten($secondary, 40);
  }
}

h1{
  @include chaptitle($gray-500, x-large);

  &.h1-primary{
    @include chaptitle($primary, x-large);
  }

  &.h1-secondary{
    @include chaptitle($secondary, x-large);
  }
}

header{
  .headermenu{
    max-width: 750px;
    margin: auto;
    padding: 5px;
  }

  margin-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid $gray-300;
}

.singlecol{
  max-width: 576px;
  margin: auto;
}

// Primary classes

.small-text{
  font-size: 0.8rem;
}
.large-text{
  font-size: 1.2rem;
}
.bold-text{
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}

// Logo

@font-face {
  font-family: 'icon-shinchoku';
  src: font-url('icon-shinchoku.ttf');
}

.icon-shinchokunote:before {
  font-family: 'icon-shinchoku';
  content: "\e900";
}

// User
@import "users";

// Note
@import "notes";

// Comment
@import "comments";

// Media-box
@import "media_box";

// Tweetpost
@import "tweet_posts";

// Trays
@import "tray";

// Controll panel
.control-panel{
  border-radius: 20px;
  background-color: transparentize( white, 0.7 );
  border: medium dotted darken($primary, 20);
  margin-bottom: 20px;
  padding: 20px;
  h3{
    @include chaptitle
  }
}

// Clearfix
.cf:after {
  content:" ";
  display:block;
  clear:both;
}

// Coverbox
.coverdbox{
  position: relative;
  z-index: 0;
}

.coversbox{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 10;
  background-color: transparentize( white, 0.3 );
  text-align: center;
  p{
    margin-top: 10px;
  }
}

// foot-toolbar
.foot-toolbar{
  margin-bottom: 0;
  text-align: center;
  background-color: white;

  ul{
    margin: 0 auto;
    padding: 0;
    max-width: 576px;
    width: 100%;
    display: table;
    table-layout: fixed;
    li{
      display: table-cell;
      vertical-align: middle;

      &.active{
        a{
          color: $red;
        }
      }

      a{
        font-size: 1.8rem;
        color: $gray-400;
        
      }
  
      a:hover{
        text-decoration: none;
        color: $gray-600;
        &.active{
          color: darken($red, 20);
        }
      }
    }
  }

  .badge{
    margin-left: -15px;
    pointer-events: none;
  }
}

// footer
.footer{
  padding-bottom: 100px;

  hr{
    max-width: 576px;
    border-top: 5px dotted white;
  }
}

// dropmenu
@import "dropmenu";
