@import "bootstrap";

body{
  background-color: #FFFFFF;
}

.headermenu{
  background-color: #FFB6B9;
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.requestboxes{
  background-color: #FFD5EA;
  margin-top: 20px;
}

.projects{
  background-color: #ffffff;
  margin-top: 20px;
}

.ideas{
  background-color: #ffffff;
  margin-top: 20px;
}

.finishedprojects{
  background-color: #ffffff;
  margin-top: 20px;
}
