<div class="text-center footer">
    <hr>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <%= link_to '使い方', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Q&A', faq_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to fa_icon('twitter', text: 'Twitter'), 'https://twitter.com/shinchokunote', class: 'nav-link' %>
        </li>
    </ul>
    <%= image_tag "logo.png", height: "36", class: "d-inline-block align-top" %>
</div>