title
    = full_title yield(:title)
= csrf_meta_tags
meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"

/! Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-118673299-1")
javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118673299-1');

/! Twitter ogp settings
meta name="twitter:card" content="#{yield_or_default yield(:ogp_twitter_cardtype), 'summary'}"
meta name="twitter:site" content="@#{yield_or_default yield(:ogp_twitter_account), 'shinchokunote'}"
meta property="og:url" content="#{request.url}"
meta property="og:title" content="#{yield_or_default yield(:title), '進捗ノート'}"
meta property="og:description" content="#{yield_or_default yield(:ogp_desc), 'みんなに進捗を見せて、アドバイスをもらおう。'}"
meta property="og:image" content="#{yield_or_default yield(:ogp_image), (root_url + 'favicon.ico')}"

/! Service worker settings
link rel="manifest" href="/manifest.json"

= favicon_link_tag()

/! Stylesheets
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

/! JS sources
= javascript_tag do
    = raw "window.vapidPublicKey = new Uint8Array(#{vapid_public_key_base64});\n"
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application'
= yield :javascript

/! [if lt IE 9]
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
/! [endif]

link rel="manifest" href="/manifest.json"
meta name="apple-mobile-web-app-capable" content="yes"